<a href="/tracker">Go back</a>


<p>Stage:{{stageName}}</p>

<h2> Job Details </h2>


<p>{{job.companyName}}</p>
<p>{{job.position}}</p>
<p>{{job.url}}</p>
<p>{{job.location}}</p>
<p>{{job.remote}}</p>
<p>{{job.salary}}</p>
<p>{{job.notes}}</p>

<a href="/tracker/stage/{{stageId}}/job/{{jobId}}/edit">Edit</a>

http://localhost:3000/tracker/tracker/stage/61582b6220578634a2d5d5d6/job/61582b6220578634a2d5d5d7