<h1 class="text-3xl"> IronTracker © </h1>

<button><a href="/">Create your own job tracker now!</a></button>

{{!-- EACH STAGE --}}

<div class="scroll">
    {{#each stages}}

    <div class="stage {{this.name}}">
        <span class="text-xs inline-block bg-green-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{this.name}}</span>   
        {{#each this.jobs}}
            {{!-- <a href="/tracker/shared/{{../sharedId}}/stage/{{../this._id}}/job/{{this._id}}"> --}}
                    <div class="job">
                        <p class="text-base font-semibold">{{this.position}}</p>
                        <p class="text-sm">{{this.companyName}}</p>                
                    </div>
                {{!-- </a> --}}
        {{/each}}
    </div>
    {{/each}}
</div>


