<h1> IronTracker © </h1>


{{!-- EACH STAGE --}}

<div class="scroll">
{{#each stages}}
<div class="stage">
    <span class="inline-block bg-green-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{this.name}}</span>   
    <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"><a href="/tracker/new/stageName/{{this.name}}">New job</a></button>
    {{#each this.jobs}}
            <div class="job">
                <p>{{this.position}}</p>
                <p>{{this.companyName}}</p>
                <a href="/tracker/stage/{{../this._id}}/job/{{this._id}}">See more</a>
            </div>
{{/each}}

</div>
{{/each}}
</div>

